vendor/srmklive/paypal/tests/Mocks/samples/
/node_modules
/public/hot
/public/storage
/public/uploads
/public/vendor
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.php-cs-fixer.cache
/.deploy.yml
.clinerules/byterover-rules.md
.kilocode/rules/byterover-rules.md
.roo/rules/byterover-rules.md
.windsurf/rules/byterover-rules.md
.cursor/rules/byterover-rules.mdc
.kiro/steering/byterover-rules.md
.qoder/rules/byterover-rules.md
.augment/rules/byterover-rules.md